.navbar-option {
    display: inline-block;
    position: relative;
}

.test:hover .navbar-option {
    text-shadow: 4px 4px 12px rgba(233, 246, 255, 0.61);
}

.navbar-option::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.92);
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.57);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.test:hover .navbar-option::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}